<ion-header [translucent] mode="ios" class="banner-image">
</ion-header>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Cheers!     乾杯!     Salud!     건배!     Prost!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center"  [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Home page"></app-explore-container> -->
  <h2>
    <p>Beer is good and good beer is even better.</p>
    <p>We aim to find the highest rated beers near you!</p>
  </h2>
  <h3>
    <p>We currently have listings for the follwoing cities in and around Boulder, Colorado:</p>
    <p>
        Boulder<br>
        Erie<br>
        Louisville<br>
        Lyons<br>
        Westminster<br>
        Longmont<br>
        Broomfield<br>
        Lafayette<br>
    </p>
  </h3>
  <h3>
    <p>Login and give it a try</p>
  </h3>
  
  <h2>This is a <b>DEMO</b> for Udacity Full Stack Nano Degree Capstone Project</h2>
  <h4> By Connie Compos </h4>

</ion-content>
