.DS_Store
.DS_Store?
__pycache__/
backend/__pycache__/
backend/node_modules/
venv
*.log
log.txt
npm-debug.log*
.idea
.vscode
nearbeer/frontend/node_modules
nearbeer/frontend/www   
nearbeer/frontend/android
fnearbeer/rontend/ios
nearbeer/frontend/e2e
nearbeer/.pylintrc
