<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="getCurrentPosition()">Locate Me</ion-button>
  <ion-button (click)="watchPosition()">Watch Position</ion-button>  
  <ion-button (click)="saveSettings()">Save Settings</ion-button>  
  <ion-item>
    <ion-label  class="ion-text-wrap">
      My Position: Latitude: {{ latitude }}, Longitude: {{ longitude}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      My Address: {{ address }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      Error: {{ errorMessage?.message }} : {{ errorMessage?.code }}
    </ion-label>
  </ion-item>  

</ion-content>
