
<ion-card [hidden]="hideCard">
  <ion-card-header>
    <ion-card-subtitle>Beer information</ion-card-subtitle>
    <ion-card-title>{{beer.name}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
        <ion-label>Venue: {{beer.venue}} / Brewery: {{beer.brewery}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Variety: {{ beer['style'] }} / ABV: ({{ beer['abv'] | number: '1.1-2'}})</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Rating: {{beer.rating}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Your Rating: {{beer.user_rating}}</ion-label>
      <!-- <ion-select value="0.00" okText="Okay" cancelText="Dismiss" *ngFor="let i=index;"  id="{{ 'row' + i }}"
        <ion-select-option value="0.00">{{ i }}]]</ion-select-option> -->
    </ion-item>
    <ion-item>
    <ion-label>Last check-in: {{beer.last_seen}}</ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
